html,body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 100dvh;
}

header {
    color: #333333;
}

header, .footer, .head {
    display: grid;
}

/*---------------- HEAD ---------------------*/
.head {
    grid-column: span 12 / span 12;
    grid-row: span 2 / span 2;
    background-color: #F0F0F0;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

/* DIVS / CONTENEDORES HEAD*/
.div-logo {
    grid-column-start: 1;
}

.div-text {
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-self: start;
}

.div-btn-donar {
    grid-column: span 0 / span 0;
    grid-column-start: 11;
}

.div-login {
    grid-column-start: 12;
}

/* ELEMENTOS DEL HEAD */
button.btn-donar {
    width: 7em;
    height: 2.5em;
    background-color: #99975F;
    box-shadow: 2px 2px 8px #445D63;
    color: white;
    font-weight: bold;
}

.logo {
    width: 2.5em;
}

.logo-principal {
    width: 4.5em;
}

.font-12 {
    font-size: 12px;
}

/*---------------- NAV ---------------------*/
div.nav {
    grid-column: span 12 / span 12;
    grid-row-start: 3;
    background-color: #445D63;
    display: flex;
    justify-content: center;
}

.nav ul li {
    margin: 0 2em 0 2em;
}

.nav ul li a {
    color: white;
    font-weight: bold;
}

.nav ul li a:hover {
    color: #C0BD96;
}

.nav ul li a.nav-link.active {
    color: #99975F;
}


/*---------------- FOOTER ---------------------*/

.footer {
    gap: 20px;
    background-color: #445D63;
    color: white;
    width: 100%;
    padding: 1em;
    position: relative;
    bottom: 0;
    align-items: baseline;

}

.telefono-footer {
    grid-column: span 2 / span 2;
}

.logo-direccion {
    grid-column-start: 4;
}

.direccion-footer {
    grid-column: span 3 / span 3;
    grid-column-start: 5;
}

.logo-facebook-footer {
    grid-column-start: 11;
}

.logo-instagram-footer {
    grid-column-start: 12;
}

.logo-direccion,.logo-telefono {
    justify-self: flex-end;
}

.logo-footer {
    height: 30px;
}

.logo-footer-redes {
    height: 40px;
}

/*---------------- CONTENIDO ---------------------*/
#contenido-dinamico{ 
    width: 100%;
    color: #555555;
}

.bg-img{
    background-image: url('./images/bg-image.PNG');
    background-size: cover;
}

div.contenido-principal {
    padding: 30px 0 30px 0;
    max-width: 80%;
}

.form-content, div.inputs, .div-maps{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--- FORMULARIOS ----*/

.form-content, .info-contacto{
    flex-direction: column;
    color: #99975F;
    width: 500px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 1px 1px 10px #656666;
}

.input-label, textarea, #formulario_contacto {
    width: 80%;
}

div.inputs, textarea, .input-label {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    background-color: white;
}

span.input-label {
    margin: 0;
}

.input-label {
    padding-left: 15px;
}

input.input, input.input-label, textarea {
    border: none;
    width: 100%;
}

input.input {
    margin-left: 10px;
}

input::placeholder, #info-imagen-publicacion, textarea::placeholder, input, textarea {
    color: #999999;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
}

a#link-olvido-password {
    text-decoration: none;
    color: inherit;
}

a#link-olvido-password:hover{
    color: #333333;
}

#info-imagen-publicacion{
    max-width: 15em;
    overflow: hidden;
}

/*----- CONTENEDORES IMAGEN - ENLACE -------*/

.contenedor-imagen-enlace-column{
    max-width: 100%;
}

.contenedor-imagen-enlace-column, .contenedor-imagen-enlace{
    display: grid;
    margin-bottom: 30px;
    box-shadow: 1px 1px 10px #445D63;
}

.contenedor-imagen-enlace{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
}

.contenedor-imagen-enlace-column{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
}

.imagen-link, .contenedor1, .contenedor2, .contenedor-imagen-enlace{
    width: 100%;
}
.imagen-link{
    min-height: 100%;
}

.imagen-link-column{
    width: 100%;
    max-height: 20em;
    object-fit: cover;
}
.contenedor2 {
    grid-column-start: 2;
}

.contendor2-column{
    grid-row-start: 2;
}
        
.contenedor-enlace, .div-pago-unico, .div-suscripcion, .info-mercado-pago{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-enlace{
    background-color: #D0CD81;
    justify-content:space-between;
    color: #808080;
    padding: 30px;
}

.contenedor-enlace h3{
    color: #666666;
    font-weight: bold;
}

.color2{
    background-color: #D9BE86;
}


/*-------- CONTENEDOR DONACIONES -------*/

.contenedor-donaciones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items:stretch;
    gap: 30px;
    margin-top: 30px;
    color: #808080;
}

.div-pago-unico, .div-suscripcion, .contenedor-pagos, .div-pago-qr, .info-mercado-pago, .div-contacto{
    display: flex;
}

.info-cuenta-bancaria, .info-mercado-pago{
    width: 85%;
}

.info-mercado-pago {
    grid-column-start: 2;
}

.contenedor-pagos{
    justify-content: space-between;
    width: 90%;
}

.div-pago-unico, .div-suscripcion, .info-mercado-pago{
    justify-content: center;
}
    

/*-------- CONTACTO ------------*/
.info-contacto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2em;
}

.div-maps{
    flex-direction: column;
    margin-bottom: 3em;
}

/*--- CONTENEDORES SERVICIOS -----*/

.info-servicios{
    margin: 1em 0 1em 0;
}

/*-------- BOTONES -------------*/

button.btn-brown {
    background-color: #99975F;
    color: white;
}

button.btn-brown:hover {
    background-color: #605f3b;
    color: white;
}

button.btn-white{
    background-color: white;
    color: #4D4D4D;
    box-shadow: 2px 2px 8px #445D63;
    padding: 10px 50px 10px 50px;
}

button.btn-white:hover{
    background-color: white;
    color:#99975F;
}

button#btn-cerrar-sesion{
    margin-top: 3em;
}

/*-- LOGOS ---*/

.logo-donaciones{
    height: 2.5em;
    margin-bottom: 20px;
}

.logo-pago{
    height: 3.5em;
}

.logo-qr{
    height: 7em;
}

.logo-scan-qr{
    height: 3em;
}

.logo-form {
    height: 20px;
}

.logo-contacto{
    height: 30px;
    width: 30px;
    margin-right: 1em;
}

.logo-login {
    height: 65px;
}

/*-- textos --*/

.texto-resaltado, .contenedor-donaciones span{
    color: #99975F;
}

.info-cuenta-bancaria span{
    font-weight: bold;
}

.info-cuenta-bancaria p{
    line-height: 2.3;
}

.titulo-donaciones h1, .form-content h1, .contenedor-servicios h1{
    font-size: 1.8rem;
}

.error, #msj_error { 
    color: rgb(183, 51, 51); 
}

#msj_sesion_iniciada{
    color:#99975F;
}

#msj_error{
    margin: 15px;
}

#msj_error p{
    line-height: .5;
}

.info-servicios h2{
    font-size: 1.5rem;
}
.contenedor-servicios h1{
    margin-bottom: 1em;
}

/*-- carrusel ---*/

.carrusel-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    border-radius: 10px;
    margin: 2em 0 2em 0;
}
  
.carrusel {
    display: flex;
    transition: transform 0.5s ease;
}
  
.carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.carrusel-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}
  
.prev {
    left: 10px;
}
  
.next {
    right: 10px;
}
  
.carrusel-container button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carrusel-container .btn {
    top: 85%;
    left: 50%;
    transform: translateX(-50%); /* Centra el botón horizontalmente */
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
    transition: background-color 0.3s;
    background-color: white;
    color: #4D4D4D;
    box-shadow: 2px 2px 8px #445D63;
    padding: 10px 50px 10px 50px;
}
  
.carrusel-container .btn:hover {
    background-color: white;
    color:#99975F;
}

.oculto{
    display: none !important;   
}

.hidden {
    display: none;
}

/* ------- SERVICIOS MOBILE -------- */

@media (max-width: 1224px) {

    .container.contenido-principal {
        display: flex;
        flex-direction: column;
    }

    .contenedor-imagen-enlace {
        display: flex;
        flex-direction: column;
        margin-bottom: 250px;
    }

    .contenedor-enlace {
        width: 100%;
        text-align: center;
        padding: 20px;
        box-shadow: 1px 1px 10px #445D63;
    }

    .contenedor-enlace h3 {
        font-size: 1.5rem; 
    }

    .imagen-link {
        width: 100%;
        box-shadow: 1px 1px 10px #445D63;
    }

    .div-text {
        display: none;
    }
    
    .div-btn-donar {
        display: flex;
        justify-content: end;
    }
    
    .div-login {
        display: flex;
        justify-content: end;
    }
}

@media (max-width: 1000px) {

    .contenedor-imagen-enlace {
        margin-bottom: 20px !important;
    }
    
    .error, #msj_error { 
        color: rgb(183, 51, 51); 
    }

    #msj_sesion_iniciada{
        color:#99975F;
    }

    #msj_error{
        margin: 15px;
    }

    #msj_error p{
        line-height: .5;
    }

    .info-servicios h2{
        font-size: 1.5rem;
    }

    .contenedor-servicios h1{
        margin-bottom: 1em;
    }

    .div-logo {
        grid-column-start: 1;
    }

    /* ELEMENTOS DEL HEAD */
    button.btn-donar {
        width: 5em;
        height: 2.5em;
    }

    .logo-principal {
        width: 4em;
    }

    div.nav {
        justify-content:flex-start;
    }
}