body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 100dvh;
}

header {
    color: #333333;
}

/*---------------- HEAD ---------------------*/
.head {
    background-color: #F0F0F0;
    padding: 20px;
}

.div-text {
    display: flex;
    flex-direction: column;
}

button.btn-donar {
    width: 7em;
    height: 2.5em;
    background-color: #99975F;
    box-shadow: 2px 2px 8px #445D63;
    color: white;
    font-weight: bold;
}

/*---------------- NAV ---------------------*/
div.nav {
    background-color: #445D63;
    justify-content: center;
}

.nav ul li {
    margin: 0 2em 0 2em;
}

.nav ul li a {
    color: white;
    font-weight: bold;
}

.nav ul li a:hover {
    color: #C0BD96;
}

.nav ul li a.nav-link.active {
    color: #99975F;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar { 
    transition: top 0.05s ease-in-out; 
}

.spacer {
    height: 70px;
    /* Ajusta esta altura según la altura de tu navbar */
}

/*---------------- FOOTER ---------------------*/

.footer {
    background-color: #445D63;
    color: white;
    height: 100px;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}

.info-footer {
    margin: 10px;
}

/*---------------- CONTENIDO ---------------------*/

#contenido-dinamico {
    width: 100%;
    color: #555555;
    min-height: calc(100vh - 100px);
    padding-bottom: 100px;
    box-sizing: border-box;
}

.bg-img {
    background-image: url('./images/bg-image.PNG');
    background-size: cover;
}

div.contenido-principal {
    padding: 40px 0 30px 0;
    max-width: 80%;
}

/*----- CONTENEDORES IMAGEN - ENLACE -------*/

.contenedor-imagen-enlace {
    margin-bottom: 20%;
}

.contenedor-imagen-enlace h2 {
    font-size: 35px;
}

.contenedor-imagen {
    width: 80%;
    max-height: 400px;
    overflow: hidden;
    margin: 15px 0 20px 0;
    position: relative;
    box-shadow: 1px 1px 10px rgb(109, 109, 109);
}

.contenedor-imagen figure figcaption {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.848);
    color: rgb(48, 46, 46);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.imagen-link {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-enlace {
    color: #808080;
    padding: 30px;
}

button.btn-ver-mas {
    width: 200px;
    height: 50px;
    font-size: 20px;
    box-shadow: 1px 1px 4px rgb(46, 46, 46);
}
.div-texto-ver-mas{
    width: 80%;
}
/*--- GALERIA ---*/
.div-galeria-oculto{
    display:flex;
    justify-content: center;
}

.div-galeria{
    flex-wrap: wrap;
    width: 80%;
}

div.card {
    border: none;
    width: 45%;
}
div.card-body{
    padding-left: 0;
    padding-right: 0;
}
.card-img-top{
    object-fit: cover;
    border-radius: 3px;
}

/*--- FORMULARIOS ----*/
.form-content{
    margin-bottom: 60px;
}

.form-content, .info-contacto {
    color: #99975F;
    width: 60%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 1px 1px 10px #656666;
    font-size: 16px;
}


.input-label, textarea, #formulario_contacto {
    width: 80%;
}

div.inputs, textarea,.input-label {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    background-color: white;
}

span.input-label {
    margin: 0;
}

.input-label {
    padding-left: 15px;
}

input.input, input.input-label, textarea {
    border: none;
    width: 100%;
}

input.input {
    margin-left: 10px;
}

input::placeholder, #info-imagen-publicacion, textarea::placeholder, input, textarea {
    color: #999999;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
}

a#link-olvido-password {
    text-decoration: none;
    color: inherit;
}

a#link-olvido-password:hover {
    color: #333333;
}

#info-imagen-publicacion {
    max-width: 15em;
    overflow: hidden;
}

.div-pago-unico, .div-suscripcion, .info-mercado-pago {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color2 {
    background-color: #D9BE86;
}

/*-------- CONTENEDOR DONACIONES -------*/

.contenedor-donaciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    gap: 30px;
    margin-top: 30px;
    color: #808080;
}

.div-pago-unico,
.div-suscripcion,
.contenedor-pagos,
.div-pago-qr,
.info-mercado-pago,
.div-contacto {
    display: flex;
}

.info-cuenta-bancaria,
.info-mercado-pago {
    width: 85%;
}

.info-mercado-pago {
    grid-column-start: 2;
}

.contenedor-pagos {
    justify-content: space-between;
    width: 90%;
}

.div-pago-unico,
.div-suscripcion,
.info-mercado-pago {
    justify-content: center;
}


/*-------- CONTACTO ------------*/
.info-contacto {
    margin-top: 2em;
}

.div-maps {
    flex-direction: column;
    margin-bottom: 3em;
}

/*--- CONTENEDORES SERVICIOS -----*/

.info-servicios {
    margin: 1em 0 1em 0;
}

/*-------- BOTONES -------------*/

button.btn-brown {
    background-color: #99975F;
    color: white;
}

button.btn-brown:hover {
    background-color: #605f3b;
    color: white;
}

button.btn-white {
    background-color: white;
    color: #4D4D4D;
    box-shadow: 2px 2px 8px #445D63;
    padding: 10px 50px 10px 50px;
}

button.btn-white:hover {
    background-color: white;
    color: #99975F;
}

button#btn-cerrar-sesion {
    margin-top: 3em;
}


/*-- LOGOS ---*/
.logo-footer {
    height: 30px;
    margin-right: 10px;
}

.logo-footer-redes {
    height: 40px;
}

.logo {
    width: 2.5em;
    margin-left: 30px;
}

.logo-principal {
    width: 4.5em;
}

.logo-donaciones {
    height: 2.5em;
    margin-bottom: 20px;
}

.logo-pago {
    height: 3.5em;
}

.logo-qr {
    height: 7em;
}

.logo-scan-qr {
    height: 3em;
}

.logo-form {
    height: 20px;
}

.logo-contacto {
    height: 30px;
    width: 30px;
    margin-right: 1em;
}

.logo-login {
    height: 65px;
}

/*-- textos --*/

.font-12 {
    font-size: 12px;
}

.contenedor-enlace h3 {
    color: #666666;
    font-weight: bold;
}

.texto-resaltado,
.contenedor-donaciones span {
    color: #99975F;
}

.info-cuenta-bancaria span {
    font-weight: bold;
}

.info-cuenta-bancaria p {
    line-height: 2.3;
}

.titulo-donaciones h1,
.form-content h1,
.contenedor-servicios h1, .info-contacto h1 {
    font-size: 1.8rem;
}

.error,
#msj_error {
    color: rgb(183, 51, 51);
}

#msj_sesion_iniciada {
    color: #99975F;
}

#msj_error {
    margin: 15px;
}

#msj_error p {
    line-height: .5;
}

.info-servicios h2 {
    font-size: 1.5rem;
}

.contenedor-servicios h1 {
    margin-bottom: 1em;
}

/*-- carrusel ---*/

.carrusel-container {
    position: relative;
    width: 80%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 50px;
}

.div-carrusel{
    margin-bottom: 100px;
}

.carrusel {
    transition: transform 0.5s ease;
}

.carrusel img {
    min-width: 100%;
    object-fit: cover;
}

.carrusel-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carrusel-container button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carrusel-container .btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    /* Centra el botón horizontalmente */
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
    transition: background-color 0.3s;
    background-color: white;
    color: #4D4D4D;
    box-shadow: 2px 2px 8px #445D63;
    padding: 10px 50px 10px 50px;
}

.carrusel-container .btn:hover {
    background-color: white;
    color: #99975F;
}

.oculto {
    display: none !important;
}

.hidden {
    display: none;
}

/* --------- IMAGENES DE SERVICIOS */

.img-servicios {
    box-shadow: 2px 2px 8px #445D63;
    border-radius: 10px;
    width: 100%;
    height: 30%;
    margin: 30px 0 30px 0;
}

/* ------- SERVICIOS MOBILE -------- */

@media (max-width: 1224px) {
    .navbar-toggler {
        background-color: white !important;
    }

    .container.contenido-principal {
        display: flex;
        flex-direction: column;
    }

    .contenedor-imagen-enlace {
        display: flex;
        flex-direction: column;
        margin-bottom: 250px;
    }

    .contenedor-enlace {
        width: 100%;
        text-align: center;
        padding: 20px;
        box-shadow: 1px 1px 10px #445D63;
    }

    .contenedor-enlace h3 {
        font-size: 1.5rem;
    }

    .imagen-link {
        width: 100%;
        box-shadow: 1px 1px 10px #445D63;
    }

    .div-text {
        display: none;
    }

    .div-btn-donar {
        display: flex;
        justify-content: end;
    }

    .div-login {
        display: flex;
        justify-content: end;
    }

    .footer {
        height: 200px;
    }

    .footer,
    .section-info-footer {
        flex-direction: column;
    }

    #contenido-dinamico {
        min-height: calc(100vh - 200px);
        padding-bottom: 200px;
        box-sizing: border-box;
    }
}

@media (max-width: 1000px) {

    .contenedor-imagen-enlace {
        margin-bottom: 20px !important;
    }

    .error,
    #msj_error {
        color: rgb(183, 51, 51);
    }

    #msj_sesion_iniciada {
        color: #99975F;
    }

    #msj_error {
        margin: 15px;
    }

    #msj_error p {
        line-height: .5;
    }

    .info-servicios h2 {
        font-size: 1.5rem;
    }

    .contenedor-servicios h1 {
        margin-bottom: 1em;
    }

    .div-logo {
        grid-column-start: 1;
    }

    /* ELEMENTOS DEL HEAD */
    button.btn-donar {
        width: 5em;
        height: 2.5em;
    }

    .logo-principal {
        width: 4em;
    }

    div.nav {
        justify-content: flex-start;
    }
}