body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 100dvh;
}

header {
    color: #333333;
}

/*---------------- HEAD ---------------------*/
.head {
    background-color: #F0F0F0;
    padding: 20px;
}

.div-text {
    display: flex;
    flex-direction: column;
}

button.btn-donar {
    width: 10em;
    height: 2.5em;
    background-color: #aca830;
    box-shadow: 2px 2px 8px #445D63;
    color: white;
    font-weight: bold;
}


/*---------------- NAV ---------------------*/
div.nav,
ul.dropdown-menu {
    background-color: #445D63;
    justify-content: center;
}

.nav ul li {
    margin: 0 2em 0 2em;
}

.nav ul li a {
    color: white;
    font-weight: bold;
}

.nav ul li a:hover {
    color: #C0BD96;
}

.nav ul li a.nav-link.active {
    color: #99975F;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    transition: top 0.05s ease-in-out;
}

.spacer {
    height: 70px;
    /* Ajusta esta altura según la altura de tu navbar */
}

.dropdown:hover .dropdown-menu,
.dropdown-menu[data-bs-popper] {
    display: block;
    border: none;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

a.dropdown-item:focus,
a.dropdown-item:hover {
    background-color: transparent;
}

/*---------------- FOOTER ---------------------*/

.footer {
    background-color: #445D63;
    color: white;
    height: 100px;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}

.info-footer {
    margin: 10px;
}

/*---------------- CONTENIDO ---------------------*/

#contenido-dinamico {
    width: 100%;
    color: #555555;
    min-height: calc(100vh - 100px);
    padding-bottom: 100px;
    box-sizing: border-box;
}

.bg-img {
    background-image: url('./images/bg-image.PNG');
    background-size: cover;
}

div.contenido-principal {
    padding: 40px 0 30px 0;
    max-width: 80%;
}

/*----- CONTENEDORES IMAGEN - ENLACE -------*/

#img-1 {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/bg-image-byn.PNG') no-repeat center center fixed
}

#img-2 {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/img-contacto.jfif') no-repeat center center fixed;
}

#img-3 {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/foto_6_byn.jpg') no-repeat center center fixed;
}

#img-4 {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/foto_4.jpg') no-repeat center center fixed;
}

#img-5 {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/foto_8.jpg') no-repeat center center fixed;
}

#img-6 {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/foto_12.jpg') no-repeat center center fixed;
}

#img-7 {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/fondo-img-byn.jpg') no-repeat center center fixed;
}

#img-8 {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('images/fondo-imagen-byn.jpg') no-repeat center center fixed;
}

#img-1,#img-2,#img-3,#img-4,#img-5,#img-6, #img-7, #img-8 {
    background-size: cover;
}

.contenedor-imagen-enlace {
    width: 100dvw;
    height: 100dvh;
    margin-bottom: 20%;
    overflow: hidden;
}

.contenedor-imagen-enlace h2 {
    font-size: 130px;
    letter-spacing: 20px;
    font-weight: bolder;
}

.contenedor-imagen-enlace h2.text-servicios {
    font-size: 100px;
    letter-spacing: 5px;
}

.contenedor-imagen-enlace h3 {
    font-size: 25px;
    color: #636363;
}

.imagen-link {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button.btn-ver-mas,button#btnVerGallery {
    width: 200px;
    height: 50px;
    font-size: 25px;
    box-shadow: 3px 3px 10px #555555;
}

.div-texto-ver-mas {
    width: 100%;
}

.contenedor-imagen-enlace .text-h2{
    font-size: 95px;
}

.texto-oculto{
    padding: 2% 10% 2% 10%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.921);
}

/*--- GALERIA ---*/

.div-galeria-oculto {
    display: flex;
    justify-content: center;
}

.div-galeria {
    flex-wrap: wrap;
    width: 80%;
}

div.card {
    border: none;
    width: 30%;
}

div.card-body {
    padding-left: 0;
    padding-right: 0;
}

.card-img-top {
    object-fit: cover;
    border-radius: 3px;
}

/*--- FORMULARIOS ----*/
.form-content {
    margin-bottom: 60px;
}

.form-content label{
    font-size: 20px;
}

.form-content,
.info-contacto {
    color: #99975F;
    width: 60%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 1px 1px 10px #656666;
    font-size: 16px;
}


.input-label,
textarea,
#formulario_contacto {
    width: 80%;
}

div.inputs,
textarea,
.input-label {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    background-color: white;
}

span.input-label {
    margin: 0;
}

.input-label {
    padding-left: 15px;
}

input.input,
input.input-label,
textarea {
    border: none;
    width: 100%;
}

input.input {
    margin-left: 10px;
}

input::placeholder,
#info-imagen-publicacion,
textarea::placeholder,
input,
textarea {
    color: #999999;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
}

a#link-olvido-password {
    text-decoration: none;
    color: inherit;
}

a#link-olvido-password:hover {
    color: #333333;
}

#info-imagen-publicacion {
    max-width: 15em;
    overflow: hidden;
}

.div-pago-unico,
.div-suscripcion,
.info-mercado-pago {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color2 {
    background-color: #D9BE86;
}

/*-------- CONTENEDOR DONACIONES -------*/

.contenedor-donaciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    gap: 30px;
    margin-top: 30px;
    color: #808080;
}

.div-pago-unico,
.div-suscripcion,
.contenedor-pagos,
.div-pago-qr,
.info-mercado-pago,
.div-contacto {
    display: flex;
}

.info-cuenta-bancaria,
.info-mercado-pago {
    width: 85%;
}

.info-mercado-pago {
    grid-column-start: 2;
}

.contenedor-pagos {
    justify-content: space-between;
    width: 90%;
}

.div-pago-unico,
.div-suscripcion,
.info-mercado-pago {
    justify-content: center;
}


/*-------- CONTACTO ------------*/
.info-contacto {
    margin-top: 2em;
}

.div-maps {
    flex-direction: column;
    margin-bottom: 3em;
}

/*--- CONTENEDORES SERVICIOS -----*/

.info-servicios {
    margin: 1em 0 1em 0;
}

.info-servicios h2{
    font-size: 40px;
}

.contenedor-servicios h1{
    color:#555555;
    font-size: 70px;
    letter-spacing: 10px;
    font-weight: bold;
}

/*-------- BOTONES -------------*/

button.btn-brown,
button#btnVerGallery {
    background-color: #96944d;
    color: white;
}

button.btn-brown:hover,
button#btnVerGallery:hover {
    background-color: #605f3b;
    color: white;
}

button.btn-white {
    background-color: white;
    color: #4D4D4D;
    box-shadow: 2px 2px 8px #445D63;
    padding: 10px 50px 10px 50px;
}

button.btn-white:hover {
    background-color: white;
    color: #99975F;
}

button#btn-cerrar-sesion {
    margin-top: 3em;
}


/*-- LOGOS ---*/
.logo-footer {
    height: 30px;
    margin-right: 10px;
}

.logo-footer-redes {
    height: 40px;
}

.logo {
    width: 2.5em;
    margin-left: 30px;
}

.logo-principal {
    width: 4.5em;
}

.logo-donaciones {
    height: 2.5em;
    margin-bottom: 20px;
}

.logo-pago {
    height: 3.5em;
}

.logo-qr {
    height: 7em;
}

.logo-scan-qr {
    height: 3em;
}

.logo-form {
    height: 20px;
}

.logo-contacto {
    height: 30px;
    width: 30px;
    margin-right: 1em;
}

.logo-login {
    height: 65px;
}

/*-- textos --*/

.font-12 {
    font-size: 12px;
}

.contenedor-enlace h3 {
    color: #666666;
    font-weight: bold;
}

.texto-resaltado,
.contenedor-donaciones span {
    color: #99975F;
}

.info-cuenta-bancaria span {
    font-weight: bold;
}

.info-cuenta-bancaria p {
    line-height: 2.3;
}
.titulo-donaciones h1{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 3px;
}
.form-content h1,
.info-contacto h1 {
    font-size: 1.8rem;
}

.error,
#msj_error {
    color: rgb(183, 51, 51);
}

#msj_sesion_iniciada {
    color: #99975F;
}

#msj_error {
    margin: 15px;
}

#msj_error p {
    line-height: .5;
}

/*-- carrusel ---*/

.div-carrusel {
    width: 100vw;
    margin-bottom: 100px;
}

.carrusel-container {
    position: relative;
    width: 80%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 50px;
}

.carrusel {
    transition: transform 0.5s ease;
}

.carrusel img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.carrusel-container .btn-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #555555;
    border: none;
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carrusel-container .btn-slide:hover {
    background-color: rgba(201, 199, 199, 0.7);
}

.carrusel-container #btnVerGallery {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    transition: background-color 0.3s;
}

.oculto {
    display: none !important;
}

.hidden{
    visibility: hidden;
}

/* --------- IMAGENES DE SERVICIOS */

.img-servicios {
    box-shadow: 2px 2px 8px #445D63;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* ------- SERVICIOS MOBILE -------- */

@media (max-width: 1224px) {
    .navbar-toggler {
        background-color: white !important;
    }

    .container.contenido-principal {
        display: flex;
        flex-direction: column;
    }

    .contenedor-imagen-enlace {
        display: flex;
        flex-direction: column;
        margin-bottom: 250px;
        padding: 20px;
    }

    .contenedor-imagen-enlace h2 {
        font-size: 2rem;
        letter-spacing: 10px;
    }

    .contenedor-imagen-enlace h3 {
        font-size: 1rem;
    }

    .div-carrusel {
        width: 100vw;
    }

    .carrusel-container .btn-slide {
        top: 30%;
        transform: translateY(-50%);
        padding: 10px;
    }

    .carrusel-container {
        min-height: 100%;
        min-height: 70vh;
    }

    .carrusel-container #btnVerGallery {
        top: 70%;
    }

    .carrusel img {
        min-height: 100%;
    }

    .imagen-link {
        width: 100%;
        box-shadow: 1px 1px 10px #445D63;
    }

    .div-text {
        display: none;
    }

    .footer {
        height: 200px;
    }

    .footer,
    .section-info-footer {
        flex-direction: column;
    }

    #contenido-dinamico {
        min-height: calc(100vh - 200px);
        max-width: 100vw;
        padding-bottom: 200px;
        box-sizing: border-box;
    }
    div.card {
        width: 100%;
    }
}

@media (max-width: 1000px) {

    .contenedor-imagen-enlace {
        margin-bottom: 20px !important;
    }
    .error,
    #msj_error {
        color: rgb(183, 51, 51);
    }

    #msj_sesion_iniciada {
        color: #99975F;
    }

    #msj_error {
        margin: 15px;
    }

    #msj_error p {
        line-height: .5;
    }

    .info-servicios h2{
        font-size: 1.5rem;
    }
    .contenedor-imagen-enlace h2.text-servicios {
        font-size: 2.5em;
    }
    .contenedor-servicios h1 {
        margin-bottom: 1em;
    }

    /* ELEMENTOS DEL HEAD */
    button.btn-donar {
        width: 7em;
        height: 2.5em;
    }

    .logo-principal {
        width: 4em;
    }

    div.nav {
        justify-content: flex-start;
    }
    .contenedor-servicios h1{
        font-size: 2em;
    }

    .contenedor-servicios p{
        font-size: 14px;
    }

}