html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    height: 100dvh;
    grid-template-rows: auto 1fr auto;
}



header {
    grid-template-rows: repeat(3, 1fr);
    color: #333333;
}

header,
.footer,
.head {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/*---------------- HEAD ---------------------*/
.head {
    grid-column: span 12 / span 12;
    grid-row: span 2 / span 2;
    background-color: #F0F0F0;
    align-items: center;
    justify-items: center;
}

/* DIVS / CONTENEDORES HEAD*/
.div-logo {
    grid-column-start: 1;
}

.div-text {
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-self: start;
}

.div-btn-donar {
    grid-column: span 2 / span 2;
    grid-column-start: 10;
}

.div-login {
    grid-column-start: 12;
}

/* ELEMENTOS DEL HEAD */
button.btn-donar {
    width: 7em;
    height: 2.5em;
    background-color: #99975F;
    box-shadow: 2px 2px 8px #445D63;
    color: white;
    font-weight: bold;
}

button.btn-donar:hover {
    width: 7.5em;
    height: 3em;
    background-color: #C0BD96;
    color: white;
}

.logo {
    width: 2.5em;
}

.logo-principal {
    width: 4.5em;
}

.font-12 {
    font-size: 12px;
}

/*---------------- NAV ---------------------*/
header div.nav {
    grid-column: span 12 / span 12;
    grid-row-start: 3;
    background-color: #445D63;
    display: flex;
    justify-content: center;
}

.nav ul li {
    margin: 0 2em 0 2em;
}

.nav ul li a {
    color: white;
    font-weight: bold;
}

.nav ul li a:hover {
    color: #C0BD96;
}

/*---------------- FOOTER ---------------------*/

.footer {
    gap: 20px;
    background-color: #445D63;
    color: white;
    width: 100%;
    padding: 1em;
    position: relative;
    bottom: 0;
}

.telefono-footer {
    grid-column: span 2 / span 2;
}

.logo-direccion {
    grid-column-start: 4;
}

.direccion-footer {
    grid-column: span 3 / span 3;
    grid-column-start: 5;
}

.logo-facebook-footer {
    grid-column-start: 11;
}

.logo-instagram-footer {
    grid-column-start: 12;
}

.logo-direccion,
.logo-telefono {
    justify-self: flex-end;
}

.logo-footer {
    height: 30px;
}

.logo-footer-redes {
    height: 40px;
}

/*---------------- CONTENIDO ---------------------*/
#contenido-dinamico { 
    width: 100%;
}

.bg-img{
    background-image: url('./images/bg-image.PNG');
    background-size: cover;
}
.contenido-principal{
    max-width: 1920px;
}

.contenido-principal {
    flex-direction: column;
    padding: 30px 0 30px 0;
}

.contenido-principal,
.form-content,
div.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    flex-direction: column;
    color: #99975F;
    width: 500px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 1px 1px 10px #656666;
}

.div-inputs,
.input-label,
textarea {
    width: 80%;
}

/* Este elemento debe tener "position: relative" */
div.inputs,
textarea,
.input-label {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    background-color: white;
}

span.input-label {
    margin: 0;
}

.input-label {
    padding-left: 15px;
}

.logo-form {
    height: 20px;
}

.logo-login {
    height: 65px;
}

input.input,
input.input-label,
textarea {
    border: none;
    width: 100%;
}

input.input {
    margin-left: 10px;
}

input::placeholder,
#info-imagen-publicacion,
textarea::placeholder,
input,
textarea {
    color: #999999;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
}


a#link-olvido-password {
    text-decoration: none;
    color: inherit;
}

a#link-olvido-password:hover{
    color: #333333;
}


/*----- CONTENEDORES IMAGEN - ENLACE -------*/

.contenedor-imagen-enlace-column{
    max-width: 800px;
}

.contenedor-imagen-enlace-column, .contenedor-imagen-enlace{
    display: grid;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px #445D63;
}
.contenedor-imagen-enlace{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.contenedor-imagen-enlace-column{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.imagen-link, .contenedor1, .contenedor2, .contenedor-imagen-enlace{
    width: 100%;
    max-height: 250px;
}

.contenedor1 {
    grid-column: span 1 / span 1;
}

.contenedor2 {
    grid-column: span 1 / span 1;
    grid-column-start: 2;
}

.contendor1-column { 
    max-height: 350px;
}

.contendor2-column{
    grid-row: span 1 / span 1;
    grid-row-start: 2;
}
        
.contenedor-enlace{
    background-color: #D0CD81;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    color: #808080;
    padding: 30px;
}

.contenedor-enlace h3{
    color: #666666;
    font-weight: bold;
}

.color2{
    background-color: #D9BE86;
}


/*-------- CONTENEDOR DONACIONES -------*/

.contenedor-donaciones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items:stretch;
    gap: 30px;
    margin-top: 30px;
    color: #808080;
}

.info-cuenta-bancaria, .info-mercado-pago{
    width: 85%;
}

.info-mercado-pago {
    grid-column-start: 2;
}

.div-pago-unico, .div-suscripcion, .contenedor-pagos, .div-pago-qr, .info-mercado-pago{
    display: flex;
}

.contenedor-pagos{
    justify-content: space-between;
    width: 90%;
}

.div-pago-unico, .div-suscripcion, .info-mercado-pago{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
        
/*-------- BOTONES -------------*/

button.btn-brown {
    background-color: #99975F;
    color: white;
}

button.btn-white{
    background-color: white;
    color: #4D4D4D;
    box-shadow: 2px 2px 8px #445D63;
    padding: 10px 50px 10px 50px;
}

button.btn-white:hover{
    background-color: white;
    color:#99975F;
}

/*-- LOGOS ---*/

.logo-donaciones{
    height: 2.5em;
    margin-bottom: 30px;
}

.logo-pago{
    height: 3.5em;
}

.logo-qr{
    height: 7em;
}

.logo-scan-qr{
    height: 3em;
}

/*-- textos --*/

.texto-resaltado, .contenedor-donaciones span{
    color: #99975F;
}

.info-cuenta-bancaria span{
    font-weight: bold;
}

.info-cuenta-bancaria p{
    line-height: 2.3;
}